<div class="panel panel-default details-panel">
    <div class="panel-body">
        <h2>{{ server.name }}. Status: {{ server.status }}</h2>
        <button class="btn btn-primary" type="button" (click)="switchExpandDetails()">
            Show details <span class="badge">{{ expandTries.length }}</span>
        </button>
        <span *ngIf="expandDetails" class="details">
            The secret password is
            <code>
                <strong>{{ server.password }}</strong>
            </code>
        </span>
    </div>
    <ol reversed>
        <li class="try-info" *ngFor="let try of expandTries.reverse()" [ngClass]="{dimmed: (try.id > 5)}">
            {{ try.timestamp.toLocaleTimeString() }}:
            <span [ngClass]="{opened: try.newStatus === OPEN}" class="status">{{ try.newStatus }}</span>
        </li>
    </ol>
</div>